<div class="login-container">

    <div class="login-input">
        <div class="login-title">
            <h1>Login</h1>
        </div>
        <div class="login-forms">
            <div class="inputs">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="">
            </div>
        
            <div class="inputs">
                <label for="password">Password</label>
                <div class="password-container">
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password" placeholder="">
                    <span class="toggle-password" (click)="togglePasswordVisibility()">
                        <i [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </span>
                </div>
            </div>
            
            <div class="btns">
                <button click="login()">Login Now</button>
                <a class="forgot" [routerLink]="['/forgotpassword']">Forgot Password?</a>
            </div>
            <div class="signup-link">
                <p>Don't have an account? 
                    <a [routerLink]="['/signup']">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>
