<div class="login-container">
    <div class="login-image">
        <img src="../../assets/img/login.png" alt="">
    </div>
    <div class="login-input">
        <div class="login-title">
            <h1>Login</h1>
        </div>
        <div class="login-forms">

            <div class="inputs">
                <label for="">Email</label>
                <input type="text" placeholder="Enter Your Email">

            </div>

            <div class="inputs">

                <label for="">Password</label>
                <input type="text" placeholder="Enter Password">
            </div>
            <div class="btns">
                <button>Login Now</button>
            <a class="forgot"href="#">Forget Password</a>
            </div>

        </div>

    </div>
</div>