<div class="user-navbar">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse item" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a routerLink="/userdash" class="nav-link">
                            <i class="bi bi-house-door"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-heading">Complaints</li>
                    <div class="nav-center">
                        <li class="nav-item">
                            <a routerLink="/newcomplaint" class="nav-link">
                                <i class="bi bi-file-earmark-plus"></i> New Complaint
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/trackcomplaint" class="nav-link">
                                <i class="bi bi-graph-up-arrow"></i> Track Complaint
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>
