.user-navbar {
    display: flex;
    height: 100vh;
}

.navbar {
    width: 380px;
    height: 100vh;
    background: #e0e4f5;
    border-right: 1px solid rgba(10, 10, 10, 0.1);
    padding-top: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    flex-direction: column;
}


.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Dashboad at the top */
.nav-item:first-child {
    margin-bottom: 30px;
    margin-top: 20px;
}


.nav-heading {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #605efa;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
    margin-bottom: 20px;
    margin-top: 10px;
}

.nav-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    width: 100%;
    list-style: none;
}
.nav-link {
    /* display: flex; */
    align-items: center;
    justify-content: center; 
    width: 100%; 
    padding: 0px 2px;
    font-size: 18px;
    text-align: center;
    /* margin-top: 10%; */
    color: #4b5563;
    /* text-decoration: none;
    transition: all 0.3s ease; */
}

.nav-link i {
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.nav-link:hover {
    background: rgba(48, 81, 226, 0.1);
    color: #3051e2;
}

.nav-link i {
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}
.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 320px; 
}

/* @media screen and (max-width: 768px) {
    .navbar {
        width: 200px;
    }
    .content {
        margin-left: 200px;
    }
} */
