.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f4f4f4;
  background: url('/assets/img/signup.png')
}

.signup-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-group {
  position: relative;
}

.password-group button {
  position: absolute;
  right: 10px;
  top: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  color: blue;
}

.signup-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-btn:enabled {
  background-color: #ccc;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}
