<div class="row p-0 m-0">
  <div class="col-md-3">
    <app-usernavbar></app-usernavbar>
  </div>
 <div class="dashboard-container col-md-9 p-0 m-0">
  
    <h2 class="greeting">Welcome</h2>
    <p class="sub-text">User Dashboard</p>
  
    <div class="dashboard-cards">
      <div class="card">
        <div class="card-content">
          <span class="count-text orange">{{ totalComplaints }}</span>
          <p>Total Complaints</p>
        </div>
        <i class="bi bi-archive"></i>
      </div>
  
      <div class="card">
        <div class="card-content">
          <span class="count-text green">{{ solvedComplaints }}</span>
          <p>Complaints Solved</p>
        </div>
        <i class="bi bi-check-circle"></i>
      </div>
  
      <div class="card">
        <div class="card-content">
          <span class="count-text blue">{{ pendingComplaints }}</span>
          <p>Pending Complaints</p>
        </div>
        <i class="bi bi-info-circle"></i>
      </div>
  
      <div class="card">
        <div class="card-content">
          <span class="count-text red">{{ closedComplaints }}</span>
          <p>Closed Complaints</p>
        </div>
        <i class="bi bi-x-circle"></i>
      </div>
    </div>
  
    <div class="complaint-stats">
      <h3>Complaint Statistics</h3>
      <table>
        <thead>
          <tr>
            <th>Complaint Id</th>
            <th>Complaint Date</th>
            <th>Current Status</th>
            <th>Last Update</th>
            <th>Days</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let complaint of complaints">
            <!-- <td>{{ complaint.merged }}</td> -->
            <td>{{ complaint.id }}</td>
            <td>{{ complaint.date }}</td>
            <td>{{ complaint.status }}</td>
            <td>{{ complaint.lastUpdate }}</td>
            <td>{{ complaint.days }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

  