.dashboard-container {
    padding: 20px;
    background: #f8fafc;
  }
  
  .greeting {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .sub-text {
    color: gray;
  }
  
  .dashboard-cards {
    display: flex;
    gap: 15px;
    margin: 20px 0;
  }
  
  .card {
    background: #1e293b;
    color: white;
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
  }
  
  .count-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .orange {
    color: orange;
  }
  
  .green {
    color: green;
  }
  
  .blue {
    color: blue;
  }
  
  .red {
    color: red;
  }
  
  .card i {
    font-size: 30px;
  }
  
  .complaint-stats {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    color: gray;
    font-weight: normal;
  }
  
  tbody tr {
    background: white;
    border-bottom: 1px solid #ddd;
  }
  