<div class="home-container">
  <div class="carousel" (mouseenter)="pauseSlide()" (mouseleave)="resumeSlide()">
    <div 
      class="carousel-item" 
      *ngFor="let slide of slides; let i = index"
      [ngClass]="{ 'active': i === currentIndex }"
    >
      <img [src]="slide.image" alt="Slide {{ i + 1 }}" class="slide-img">
      <div class="carousel-caption">
        <span class="title">{{ slide.title }}</span>
        <p>{{ slide.description }}</p>
      </div>
    </div>
    
    <!-- Navigation Buttons -->
    <button class="prev-btn" (click)="prevSlide()">&#10094;</button>
    <button class="next-btn" (click)="nextSlide()">&#10095;</button>
  </div>
</div>
